body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 8% 0% 8%;
    color: white; 
    width: 70%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}
#logo_epicode{
    width: 20%;
    margin-bottom: 2.8vh;
}

.welcome {
    font-size: 80px; /* dimensione del testo per "Welcome to" */
    line-height: 1;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.exam {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.bold {
    font-weight: bold;
}

#viola {
    color: #BF128C;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    margin: 0
}

#par1pag {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 0 7vh 0;
    font-size:1.3em;
}

#ul1pagina {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-size: 1.1em;
}

.form-flex {
    margin-top: 10vh;
    font-family: "Poppins", sans-serif;
    margin-bottom: 7vh;
}

#btn {
    color: rgb(41, 0, 35);
    background-color: #00FFFF;
    border: none;
    box-shadow: 0 0 10px #00FFFF;
    cursor: pointer; 
    font-size: 1.5em;
    margin-left: 25em;
    height: 4rem;
    width: 12em;
}


.form-flex {
    display: flex;
    align-items: center; /* Allinea verticalmente gli elementi */
}

.input-group {
    display: flex; /* Rendi i suoi figli un flex item */
    align-items: center; /* Allinea verticalmente gli elementi */
    margin-bottom: 10px; /* Aggiungi spazio tra i gruppi di input */
}

.input-group input {
    margin-right: 10px; /* Aggiungi spazio tra l'input e il testo */
}

.flex-grow {
    flex-grow: 1; /* Fai espandere lo span per occupare lo spazio rimanente */
    width: max-content;
    font-size:1.2em
}

/*----------------------------seconda pagina --------------------------------------------------*/


#domanda {
    color: white;
}

#quiz {
    text-align: center;  
    font-size: 1em;
    margin-top: 3em; 
    height: 50vh;
    align-content: center;
}
 
.fade {                                         /*--------classe per la dissolvenza ----------*/
  opacity: 0;
  transition: opacity 0.3s ease-in-out;  
}

#button_risposte{
  margin-top: 1.6em;
  display: inline-block;
} 

.risposta {                                      /*--------classe per la dissolvenza ----------*/
    width: 30vw;
    height: 7vh;
    margin: 15px;
    border-radius: 100px;
    background: transparent; 
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none; 
    font-size: 1.1em;
    box-shadow: 0 -1.5px 1px 2px rgba(244, 242, 242, 0.915);
}


.risposta:hover {                                 /*----------colore bottone risposta al passaggio del cursore ---*/
  cursor: pointer;
  background: rgba(237, 26, 230, 0.288);
}

#question {
    text-align: center;
    margin-top: 4em;
}

#ndomanda {
    color: white;
}

#totdomande {
    color: rgb(219, 37, 97);
}

.score{
  font-size: 2.5em;
  margin-top: 15%;
}

.correct{                                           /*-------colore bottone risposta alla selezione della domanda corretta ---*/                          
    width: 30vw;
    height: 7vh;
    margin: 15px;
    border-radius: 100px;
    background-color: green;
    color: white;
    border: none; 
    font-size: 1.1em;
    box-shadow: 0 -1.5px 1px 2px rgba(244, 242, 242, 0.915);
}

.wrong{                                             /*-------colore bottone risposta alla selezione della domanda corretta ---*/
    width: 30vw;
    height: 7vh;
    margin: 15px;
    border-radius: 100px;
    background-color:red;
    color: white;
    border: none; 
    font-size: 1.1em;
    box-shadow: 0 -1.5px 1px 2px rgba(244, 242, 242, 0.915);
}



/****************** inizio css timer ****************/

.base-timer {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 90%;
    margin-top: -3em;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(3, 227, 238);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 35px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    color: white;
  }

  /*---------------------------------------CSS terza pagina-------------------------------------*/
  

#top_text h2{
    margin: 0;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
}
#top_text h4{
    margin: 0 0 4vh 0;
    text-align: center;
    font-size: 2vw
}

#container{
    margin: auto;
  padding: 10px;
  margin-bottom:5vh;
  text-align: center;
  display:flex;
  justify-content: space-between;
  align-items: center; /* Centra il contenuto verticalmente */
}

#container > div {
    flex-grow: 1;
}

#container > div:first-child,
#container > div:last-child {
    flex-basis: 50%;
}
.scritturaGiustaESbagliata{ /*corretto e wrong*/
    font-size: 4.7em;
    margin: 0;
}

#percentualegiusta, #percentualesbagliata { /*numeri e percentuale*/
    font-size: 4.7em;
    font-weight: 700;
    margin: 0;
}

#domandegiuste, #domandesbagliate{ /*    tot/10   */
    font-size: 2em;
    margin: 0;
}

#percentualegiusta, #domandegiuste, #correctB{ /*testo a sx del grafico*/
    color: rgb(0, 255,255)
}
#percentualesbagliata, #domandesbagliate, #wrongV{   /*testo a dx del grafico*/
    color:rgb(194, 18, 141) 
}

#btndiv{
    text-align: center;
}
#rateUs{ /*bottone in fondo*/
    background: none;
    border: 1px solid white;
    box-shadow: 0 0 10px #00FFFF;
    box-shadow: 0 0 10px #00FFFF;
    color: white;
    padding: 8px 26px;
    cursor: pointer;
    text-align: center;
    font-size: 2vw
}

/*--------------------------4 pagina stile-----------------------*/

/* Stile della sezione principale */
#section4pagina{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Stile del titolo */
#h1Pag4{
    font-size: 4.2em;
    padding:0 auto ;
}

/* Stile del testo generico */
.testo{
    font-size: 2.1em;
}


/* Stile delle stelle per la valutazione */
#stelle{
    padding-bottom: 1.4em;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/* Stile dell'input del modulo */
#scrittura input{
    width: 85%;
    background: transparent;
    border: none;
    border-bottom: solid 2px #C40090;
    height: 5vh;
    font-size: 2vh;
    color: white;
    padding-left: 15px;
}


#scrittura input:focus{
    outline: none;
}

/* Stile del pulsante "More Info" */
.styleButton4Pagina{
    background-color: #00FFFF;
    border: none;
    width: 9em;
    height: 2.7em;
    font-weight: 799;
    box-shadow: 0 0 15px #00FFFF; 
    cursor: pointer;
    margin-top: 2em;
    font-size: 1.5em;
}

/* Stile delle immagini delle stelle */
#stelle img {
    opacity: 0.1;
    transition: opacity 0.2s ease;
    cursor: pointer;
}

/* Stile delle immagini delle stelle al passaggio del mouse */
#stelle img:hover,
#stelle img.active {
    opacity: 0.6;
}

/* Stile delle immagini delle stelle cliccate */
#stelle img.clicked {
    opacity: 1;
}

/* Stile del testo del commento */
.comment-text {
    margin: 0; 
    margin-left: 10px; /* Aggiunge uno spazio tra le stelle e il paragrafo */
    font-size: 1.5em; /* Imposta la dimensione del carattere del commento */
    color: #faf6f6;
    align-self: center; /* Colore del testo del commento */
}

/* Stile per il commento visibile */
.comment-text.visible {
    display: inline-block;
    align-self: center;
}

